.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 1;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
  
  &_orange {
    --color: var(--orange-1);
    &::after {
      background-color: var(--color);
    }
    &:hover {
      border-color: var(--color);
    }
  }
  &_blue {
    &::after {
      background-color: var(--blue-2);
    }
    &:hover {
      border-color: var(--blue-1);
    }
  }
  &_green {
    --color: var(--green);
    &::after {
      background-color: var(--color);
    }
    &:hover {
      border-color: var(--color);
    }
  }
  &_red {
    --color: var(--red);
    &::after {
      background-color: var(--color);
    }
    &:hover {
      border-color: var(--color);
    }
  }
}
