body {
  background: var(--main-color);
}

//mejorar esto
#root {
  max-width: 1280px;
  min-height: 100vh;
  text-align: center;
  padding: 1rem 3rem;
  display: grid;
  grid-template-rows: 3rem 1fr 6rem ;
}
.link {
  font-weight: 500;
  color: var(--accent-1);
  text-decoration: inherit;
  &:hover {
    color: var(--accent-2);
  }
}
.muted {
  color: var(--text-muted);
}
.title {
  font-size: 3.2em;
  line-height: 1.1;
}
.subtitle {
  font-size: 2.2em;
  line-height: 1.1;
}
.logo {
  height: 64px;
}

// @media (min-width: 768px) {

// }
