:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  --main-color: #f3e2a1;
  --text: #151515;
  --text-muted: #626262;
  --orange-1: #bf5e49;
  --orange-2: #734230;
  --blue-1: #3a6168;
  --blue-2: #61969f;
  --neutral: #f2d9bb;
  --red: #BB0A21;
  --green:#42c81a;
}
:root[dataTheme=dark] {
  --main-color: #2E282A;
  --text: #efefef;
  --text-muted: #a3a3a3;
  --orange-1: #CB6D56;
  --orange-2: #EDB88B;
  --blue-1: #b4cde6;
  --blue-2: #4da7a5;
  --neutral: #FAD8D6 ;
  --red: #b43647;
  --green:#89c776;
}
:root[dataTheme=dark] .img {
  filter: brightness(0.7) contrast(1.2);
}

* {
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--main-color);
}

.app {
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;
  text-align: center;
  padding: 0 1rem;
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
}

.link {
  font-weight: 500;
  color: var(--orange-1);
  cursor: pointer;
}
.link:hover {
  color: var(--orange-2);
}

.muted {
  color: var(--text-muted);
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
}

.subtitle {
  font-size: 2.2em;
  line-height: 1.1;
}

@media (min-width: 768px) {
  #root {
    padding: 1rem 3rem;
  }
}
.banner img {
  width: 100px;
  height: auto;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 1;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.btn_orange {
  --color: var(--orange-1);
}
.btn_orange::after {
  background-color: var(--color);
}
.btn_orange:hover {
  border-color: var(--color);
}
.btn_blue::after {
  background-color: var(--blue-2);
}
.btn_blue:hover {
  border-color: var(--blue-1);
}
.btn_green {
  --color: var(--green);
}
.btn_green::after {
  background-color: var(--color);
}
.btn_green:hover {
  border-color: var(--color);
}
.btn_red {
  --color: var(--red);
}
.btn_red::after {
  background-color: var(--color);
}
.btn_red:hover {
  border-color: var(--color);
}

header,
footer {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 2.5rem;
}
header .menu {
  cursor: pointer;
  height: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .menu .x {
  width: 2rem;
  height: 0.3rem;
  background-color: var(--text);
  border-radius: 1rem;
}
header .menu + .switch-cnt {
  position: absolute;
  visibility: hidden;
}
header .drop {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - 3rem);
  background-color: var(--main-color);
  left: 100vw;
  top: 3rem;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3rem;
}
header .drop .switch-cnt {
  grid-column: 2;
  grid-row: 2;
}
header span {
  position: absolute;
  visibility: hidden;
}

footer {
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  header .menu + .switch-cnt, header span {
    position: static;
    visibility: visible;
  }
  header .menu {
    position: absolute;
    visibility: hidden;
  }
}
.switch-cnt {
  height: 34px;
}
.switch-inp {
  display: block;
  opacity: 0;
  transform: scale(0);
  position: absolute;
}
.switch-inp:checked + label:after {
  left: 28px;
}
.switch-lbl {
  position: relative;
  width: 60px;
  height: 34px;
  display: inline-block;
  background: var(--orange-2);
  border-radius: 30px;
  cursor: pointer;
}
.switch-lbl:after {
  transition: left 0.3s ease;
  content: "";
  position: absolute;
  left: 1.5px;
  top: 2px;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  border-radius: 50%;
}

.home-banner {
  overflow: hidden;
  display: grid;
  grid-template-rows: calc(50vh - 3rem);
  grid-auto-rows: auto;
  position: relative;
  min-height: 50vh;
}
.home-banner .subtitle {
  z-index: 1;
  place-self: center;
}
.home-banner img {
  width: 100%;
  position: absolute;
}
.home-banner .svg-cnt {
  position: absolute;
  visibility: hidden;
}

@media (min-width: 768px) {
  .home-banner {
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 1fr 3rem;
    position: relative;
    min-height: 50vh;
  }
  .home-banner .subtitle {
    z-index: 1;
    place-self: center;
  }
  .home-banner img {
    width: 100%;
    position: absolute;
  }
  .home-banner .svg {
    height: 100%;
    width: 100%;
  }
  .home-banner .svg-cnt {
    height: 3rem;
    z-index: 1;
    grid-row: 2;
    grid-column: span 2;
  }
  .home-banner .svg .path {
    stroke: none;
    fill: var(--main-color);
  }
}/*# sourceMappingURL=index.css.map */